*{
    padding:0px;
    margin:0px;
}
.com{
    float:right;
    margin-left:150px;
}
.com .supplier {
      font-size: 16px;
      border: none;
      color:white;
      padding: 14px 16px;
      background-color: coral;
      margin:13px;}
.com .relation {
      font-size: 16px;
      border: none;
      color:white;
      padding: 14px 16px;
      background-color:coral;
    margin:13px;
      }

.com .profile {
      font-size: 16px;
      border: none;
      color:white;
      padding: 14px 16px;
      background-color:coral;
      margin:13px;
      }
.com .cart{
      font-size: 16px;
      border: none;
      color:white;
      padding: 14px 16px;
      background-color:coral;
    margin:13px;
      }
  .content{
      display: none;
      position: absolute;
      background-color:dimgray;
      min-width: 190px;}

 .content a {
      float: none;
      color:white;
      padding: 12px 16px;
      text-decoration:underline;
      display: block;
      text-align: left;
    }

.content a:hover {
      background-color:darkslateblue;
    }

.com:hover  .content {
      display: block;
    }

header{
    display: flex;

}
input{
    height:35px;
    width:400px;
    margin-top:24px;
    margin-left: 40px;
}
.navbar{
    background-color:coral;
    color:white;
    height:70px;
}
i{
color:black;
}
.data{
    animation:color-method 3s infinite alternate;
    height:30px;
    padding:10px;
}
@keyframes color-method{
    0%{background-color:rgb(57, 201, 201)}
    50%{background-color:rgb(61, 180, 100)}
    100%{background-color: rgb(157, 204, 49);}
}
.data ul{
    padding: 0.6rem;
}
.data li{
    display: inline;
    margin:0.5rem;
}
.data li a{
    text-decoration: solid;
    color:black;
}
.data li a:hover{
    text-decoration: underline;
    color:rgb(197, 43, 94);
}
.datas p{
    margin:0.9rem;
    display: inline;
    margin-left:200px;
    height:50px;
    
}
.datas{
    height:20px;
    padding:0.9rem;
}
.datas i{
    color:rgb(221, 89, 133)
}
.program a {
    margin:30px;
    display: inline;
    height:180px;
}
.program{
    background-color: lightsalmon;
    animation:color-change 3s infinite alternate;
    color:black;
    height:200px;
    padding:25px;
    display:flex;

}
@keyframes color-change{
    0%{background-color:rgb(22, 224, 224)}
    50%{background-color:rgb(240, 98, 185)}
    100%{background-color: coral;}
}
.data i{
    color:rgb(196, 29, 222)
}
.meesho{
display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:100px 100px ;
    grid-template-areas:"a b c d e" ;
    grid-gap:35px 35px;
    height:500px;
    width:1001px;
    padding:0.7rem;

}
.watch{
    grid-area: a;
    height:450px;
    width:220px;
    border:1px solid black;
    padding:0.6rem;

}
.mobile{
    grid-area: b;
    height:450px;
    width:200px;
    border:1px solid black;
    padding:0.6rem;
}
.backet{
    grid-area: c;
    height:450px;
    width:220px;
    border:1px solid black;
    padding:0.6rem;
}
.camera{
    grid-area: d;
    height:450px;
    width:200px;
    border:1px solid black;
    padding:0.6rem;
}
.tv{
    grid-area: e;
    height:450px;
    width:200px;
    border:1px solid black;
    padding:0.6rem;
}
.meesho a{
    padding:30px;
}
.computer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:100px 100px ;
    grid-template-areas: "a b c d e f g";
    grid-gap:10px 10px;

}
.inner{
    height:50px;
    width:1350px;
    border: 1px solid rgb(241, 241, 241);
    background-color: black;

}
.box{
    height:9px;
    width:9px;
    background-color: black;
}
.absolute{
    left:1000px;
    position:relative;
}
.relative{
    left:1080px;
    bottom:10px;
    position:relative;
}
.sticky{
    left:1180px;
    bottom:20px;
    position: relative;
}
.ff{
    animation:rotate 3s infinite alternate;
}
@keyframes rotate{
0%{transform: rotate(0deg);}
100%{transform: rotate(50deg);}
}
.nn{
    animation:rotate 3s infinite alternate;
}
@keyframes rotate{
0%{transform: rotate(0deg);}
100%{transform: rotate(50deg);}
}
.vv{
    animation:rotate 3s infinite alternate;
}
@keyframes rotate{
0%{transform: rotate(0deg);}
100%{transform: rotate(50deg);}
}
.rr{
    animation:rotate 3s infinite alternate;
}
@keyframes rotate{
0%{transform: rotate(0deg);}
100%{transform: rotate(50deg);}
}
.pp{
    animation:rotate 3s infinite alternate;
}
@keyframes rotate{
0%{transform: rotate(0deg);}
100%{transform: rotate(50deg);}
}
.jj{
    animation:rotate 3s infinite alternate;
}
@keyframes rotate{
0%{transform: rotate(0deg);}
100%{transform: rotate(50deg);}
}





